html, body {
	width: 100%;
	height: 100%;
  background-color: rgb(4, 6, 27);
  color: white;
  overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

:root {
  --width: 256px;
  --height: 256px;
  --direction-sign-width: 237px;
  --direction-sign-height: 96px;
  --wooden-sign-width: 882px;
  --wooden-sign-height: 542px;
  --active-sign-color: #00aaff;
}

a {
  color: yellow;
  font-weight: bold;
}

a:visited {
  color: yellow;
}

.command {
  background-color: black;
  color: lime;
  font-family: monospace;
}